<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Users</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="button-link">Edit</a>
                <a th:href="@{/admin/users/delete/{id}(id=${user.id})}" class="button-link">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}" class="button-link">Back to Home</a>
</div>
</body>
</html>