<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>User Profile</h1>
    <form method="post" th:action="@{/user/profile}" th:object="${userDTO}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{roles}">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" readonly>
        <br>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required>
        <br>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
        <br>
        <label for="password">New Password:</label>
        <input type="password" id="password" th:field="*{password}">
        <br>
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}">
        <br>
        <button type="submit" class="button-link">Update Profile</button>
    </form>
    <a th:href="@{/}" class="button-link">Back to Home</a>
</div>
</body>
</html>