<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Главная</h1>
    <p th:unless="${user != null}">
        Для тестирования можно использовать пользователей:<br><br>
        admin с паролем admin - роли admin и user<br><br>
        user с паролем user - роль user
    </p>
    <div th:if="${user != null}">
        <p>Привет, <span th:text="${user.firstName}"></span>!</p>
        <p>Твои роли: <span th:text="${user.roles}"></span>!</p>
        <a th:href="@{/user/profile}" class="button-link">Edit Profile</a>
        <a th:if="${user.roles.contains('ADMIN')}" th:href="@{/admin/users}" class="button-link">Admin Panel</a>
        <form th:action="@{/logout}" method="post" style="display:inline;">
            <button type="submit" class="button-link">Выйти</button>
        </form>
    </div>
    <div th:unless="${user != null}">
        <a th:href="@{/login}" class="button-link">Войти</a>
    </div>
</div>
</body>
</html>